body{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.title-main{
    color: white;
    background-color: rgba(7, 207, 147, 0.767);
    padding: 1px 30px;
}

.main-item{
    display: flex;
}

.title-second{
    background-color: rgba(7, 207, 147, 0.342);
    padding: 35px 25px;
    border-bottom: 1px solid white;
}

.sinfo-container,
.linfo-container{
    padding: 10px 15px;
    border-right: 1px solid rgba(7, 207, 147, 0.342);
    border-bottom: 1px solid rgba(7, 207, 147, 0.342);
    display: flex;
    flex: auto;
}

.sinfo-item{
    margin-right: 35px;
}

.sinfo-item-attribute{
    font-weight: bold;
    padding-right: 5px;
}

.linfo-container{
    flex-direction: column;
}

.linfo-item{
    display: flex;
}

.linfo-item-attribute{
    font-weight: bold;
}